.btn:focus {
    box-shadow: none !important;
}

pre {
    white-space: pre-wrap;
}

.bi {
    font-size: 1.0rem;
}

.badge-blue {
    background-color: $mpdl-iseo1;
}

.badge-green {
    background-color: $mpdl-iseo2;
}

.badge-yellow {
    background-color: $mpdl-iseo3;
}

.custom-popover {
    --bs-popover-max-width: 44vw;
    // --bs-popover-header-bg: whitesmoke;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}