.wfvs-dialog .cdk-dialog-container {
    // padding: 0 !important;
    transition: none !important;
    box-shadow: none !important;
    background: $body-bg;
    overflow-y: hidden;
    overflow-x: hidden;
}