<nav class="nav">
    <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('first')"><i
            class="bi-sort-alpha-down"></i></a>
    <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('second')"><i
            class="bi-list-ol"></i></a>
    <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('third')"><i
            class="bi-x-diamond"></i></a>
    <div class="vr"></div>
    <a [routerLink]="[]" class="nav-link px-3" (click)="do_some_navigation('fourth')"><i
            class="bi-upload"></i></a>
    <div class="vr"></div>
    <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('fivth')"><i
            class="bi-clipboard-plus"></i></a>
    <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('sixth')"><i
            class="bi-clipboard-minus"></i></a>
    <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('seventh')"><i
            class="bi-journal-plus"></i></a>
    <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('eighth')"><i
            class="bi-journal-minus"></i></a>
    <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('eighth')"><i
            class="bi-gear"></i></a>
</nav>