<div [formGroup]="alt_title_form">
    <div class="d-sm-flex flex-sm-row gap-1 align-items-center" [ngClass]="{'mb-1': index !== index_length -1}">
        <div class="col-sm">
            <label for="alt_title_type" class="visually-hidden">type</label>
            <select id="alt_title_type" class="form-select form-select-sm" formControlName="type">
                <option [ngValue]="null" selected>type</option>
                @for (t of alt_title_types; track t) {
                <option [ngValue]="t">{{t}}</option>
                }
            </select>
        </div>
        <div class="col-sm">
            <label for="alt_title_lang" class="visually-hidden">language</label>
            <select id="alt_title_lang" class="form-select form-select-sm" formControlName="language">
                <option [value]="null" selected>language</option>
                @for (l of alt_title_langs; track l) {
                <option [value]="l">{{l}}</option>
                }
            </select>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="alt_title_value" formControlName="value">
        </div>
        <div class="col-sm-1">
            <wfvs-add-remove-buttons [index]="index" (notice)="add_remove_alt_title($event)"></wfvs-add-remove-buttons>
        </div>
        <!--
        <div class="col-sm-1 btn-group btn-group-sm d-flex justify-content-between">
            <input type="button" class="btn btn-sm" name="add" value="+" (click)="addAT()" />
            <input type="button" class="btn btn-sm" name="remove" value="--" (click)="removeAT()" [hidden]="index === 0" />
        </div>
    -->
    </div>
</div>