.navbar {
  bottom: 45%;
  left: 10%;
  position: fixed;
  top: 15%;
  width: 250px;
  z-index: 16;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar.collapsed {
  width: 60px;
}

.navbar.collapsed .bi {
  font-size: 1.25rem;
}

.navbar.collapsed .nav-label {
  display: none;
}