<div class="container">
    <form [formGroup]="bracket_array">
        <div formArrayName="brackets">
            @for (field of brackets.controls; track field; let b_idx = $index) {
            <div>
                <div [formGroupName]="b_idx">
                    {{brackets.controls[b_idx].get('join')?.value | json}}
                    <wfvs-item-search-criterion [isc_form]="$any(field)" [array_index]="b_idx"
                        (notice)="notification($event, b_idx)"></wfvs-item-search-criterion>
                </div>
            </div>
            }
        </div>
    </form>
</div>