/**
 * Basic typography style for copy text
 */
/*
body {
  color: $dark-grey;
  font: normal 125% / 1.4 $text-font-stack;
  background: linear-gradient(0deg, $dark-grey, $light-grey) fixed;
  height: 100vh;
}
*/
.card {
  --bs-bg-opacity: .1;
}