<div class="container-fluid w-75">
    <div class="row align-items-center">
        <div class="col-sm-5">
            <nav class="nav fixed-top nav_pos">
                <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('first')"><i
                        class="bi-sort-alpha-down"></i></a>
                <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('second')"><i
                        class="bi-list-ol"></i></a>
                <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('third')"><i
                        class="bi-x-diamond"></i></a>
                <div class="vr"></div>
                <a [routerLink]="[]" class="nav-link px-3" (click)="do_some_navigation('fourth')"><i
                        class="bi-upload"></i></a>
                <div class="vr"></div>
                <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('fivth')"><i
                        class="bi-clipboard-plus"></i></a>
                <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('sixth')"><i
                        class="bi-clipboard-minus"></i></a>
                <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('seventh')"><i
                        class="bi-journal-plus"></i></a>
                <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('eighth')"><i
                        class="bi-journal-minus"></i></a>
                <a [routerLink]="[]" class="nav-link px-2" (click)="do_some_navigation('eighth')"><i
                        class="bi-gear"></i></a>
            </nav>
        </div>
        <div class="col-sm-1 text-end">
            {{current_page}} / {{number_of_pages}}
        </div>
        <nav class="col-sm text-end" wfvsPagination #pagination="wfvsPagination" [totalPages]="number_of_pages"
            [pageNo]="current_page" (pageChange)="onPageChange($event)">
            <ul class="pagination pagination-sm">
                <li class="page-item" [ngClass]="{'disabled': pagination.isFirst}">
                    <button class="page-link" (click)="pagination.first()" [disabled]="pagination.isFirst">
                        First
                    </button>
                </li>
                <li class="page-item" [ngClass]="{'disabled': pagination.isFirst}">
                    <button class="page-link" (click)="pagination.prev()" [disabled]="pagination.isFirst">
                        Previous
                    </button>
                </li>
                @for (page of select_pages(pagination.totalPages); track page; let i = $index) {
                <li class="page-item">
                    @if (isNumber(page)) {
                    <button class="page-link" (click)="onPageChange(page+1)">
                        {{page+1}}
                    </button>
                    }
                    @if (!isNumber(page)) {
                    <button class="page-link">
                        {{page}}
                    </button>
                    }
                </li>
                }
                <li class="page-item" [ngClass]="{'disabled': pagination.isLast}">
                    <button class="page-link" (click)="pagination.next()" [disabled]="pagination.isLast">
                        Next
                    </button>
                </li>
                <li class="page-item" [ngClass]="{'disabled': pagination.isLast}">
                    <button class="page-link" (click)="pagination.last()" [disabled]="pagination.isLast">
                        Last
                    </button>
                </li>
            </ul>
        </nav>
        <div class="col-sm-2 text-end">
            <select (change)="pageSizeHandler($event)" size="1">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <label for="pageSize">&nbsp; per Page</label>
        </div>
    </div>
    <div class="mt-0 row">
        <div class="col-9">
            @if (result_list | async; as list) {
            <div class="card mt-3">
                <div class="card-header">
                    <div class="form-check ms-3">
                        <input #input [formControl]="select_all" class="form-check-input" type="checkbox" value="" id="form_check" (change)="select_all_items($event)">
                        <label for="form_check" [innerHTML]="input.checked ? 'deselect' : 'select all'"></label>
                    </div>
                </div>
                <div class="list-group list-group-flush">
                    @for (item of list; track item) {
                    <div class="list-group-item py-0">
                        <pure-list-item-next [item]="item" [authenticated]="aa.isLoggedIn"></pure-list-item-next>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
        <div class="card col-3 mt-5">
            <div class="card-body">
                facets or filters or whatever else ya wanna display here ...
                <!--
                <wfvs-facet [list]=true [chunk_size]=10 [title]="'genre'" [item_array]="genre_obs"
                    [term_query_field]="'metadata.genre'" (notice)="facetNotice()"></wfvs-facet>
                <wfvs-facet [list]=true [chunk_size]=10 [title]="'journal'" [item_array]="publisher_obs"
                    [term_query_field]="'metadata.sources.title.keyword'" (notice)="facetNotice()"></wfvs-facet>
                <wfvs-facet [list]=false [chunk_size]=10 [title]="'created'" [item_array]="created_obs"
                    [term_query_field]="'creationDate'" (notice)="facetNotice()"></wfvs-facet>
            -->
            </div>
        </div>
    </div>
</div>