<div *ngIf="!list" class="container wilhelm">
    <h5>{{title}}</h5>
    <a (click)="prevSlice(item_list)" (keyup)="prevSlice(item_list)" tabindex="0"><i class="bi-caret-up"></i></a>
    <form *ngIf="facet_form" [formGroup]="facet_form" (ngSubmit)="submit()">

        <div class="form-check" formArrayName="facets"
            *ngFor="let item of item_list; let i = index">
            <input (change)="filter(item)" type="checkbox" class="form-check-input" value=""
                [id]="item.key+i">
            <label class="form-check-label" [for]="item.key+i"><span
                    class="text-truncate">{{item.key_as_string || item.key}}</span>
                ({{item.doc_count}})</label>
        </div>
    </form>
    <a (click)="nextSlice(item_list)" (keyup)="nextSlice(item_list)" tabindex="0"><i class="bi-caret-down"></i></a>
</div>
<div *ngIf="list" class="container wilhelm">
    <h5>{{title}}</h5>
    <a *ngIf="view_prev_next" (click)="prevSlice(item_list)" (keyup)="prevSlice(item_list)" tabindex="0"><i class="bi-caret-up"></i></a>
    <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-action py-0 d-flex flex-sm-row g-0 align-items-center"
            *ngFor="let item of item_list" (click)="filter(item)" (keyup)="filter(item)" tabindex="0">
            <span class="text-start col-2" [innerHtml]="item.doc_count"></span>
            <span *ngIf="item.doc_count !== 'more'" class="text-end text-truncate col-10"
                [innerHtml]="item.key_as_string || item.key"></span>
        </div>
    </div>
    <a *ngIf="view_prev_next" (click)="nextSlice(item_list)" (keyup)="nextSlice(item_list)" tabindex="0"><i class="bi-caret-down"></i></a>
</div>