<div *ngIf="message" class="alert alert-dismissible fade show" role="alert"
    [ngClass]="{'border-secondary':message.type === 'info',
                'border-success':message.type === 'success',
                'border-warning':message.type === 'warning',
                'border-danger':message.type === 'error'}">
    <pre [ngClass]="{'text-secondary':message.type === 'info',
                'text-success':message.type === 'success',
                'text-warning':message.type === 'warning',
                'text-danger':message.type === 'error'}">
                <small>{{message.text}}</small></pre>
    <button type="button" class="btn-sm btn-close"
    [ngClass]="{'text-secondary':message.type === 'info',
                'text-success':message.type === 'success',
                'text-warning':message.type === 'warning',
                'text-danger':message.type === 'error'}"
                data-bs-dismiss="alert" aria-label="Close">
        <!--<span aria-hidden="true">&times;</span>-->
    </button>
</div>