<div class="container-fluid bg-dark p-1 mt-1">
    <div class="d-flex flex-row justify-content-between">
        <div class="align-self-center">
            <div class="d-flex flex-row justify-content-between">
                <img class="" width="32px" src="assets/images/angular.svg" alt="angular" />
                <img class="" width="64px" src="assets/images/nodejs-new-pantone-white.svg" alt="node" />
                <img class="align-self-center" width="30px" height="24px" src="assets/images/bootstrap-logo.svg" alt="bootstrap" />
            </div>
        </div>
        <div class="align-self-center">
            <div class="text-center">version {{version}} &copy;{{name}}</div>
        </div>
        <div class="align-self-center">
            <a href="{{home}}"><img class="ms-2" src="assets/images/GitHub-Mark-Light-32px.png" alt="github" /></a>
        </div>
    </div>
</div>
