<div [formGroup]="searchTermForm">
  <div class="d-sm-flex flex-sm-row gap-1 mb-1 align-items-center">
    <div class="col-sm-1 btn-group btn-group-sm justify-content-between">
      <input type="button" class="btn btn-sm ms-auto" name="remove" value="--" (click)="removeSearchTerm()" />
      <input type="button" class="btn btn-sm ms-1" name="add" value="+" (click)="addSearchTerm()" />
    </div>
    <div class="col-sm">
      <select class="form-select form-select-sm"
        formControlName="clause" (change)="onBoolClauseSelect($any($event.target).value)">
        <option *ngFor="let clause of clauses" [value]="clause">{{clause}}</option>
      </select>
    </div>
    <div class="col-sm">
      <select class="form-select form-select-sm"
        formControlName="type" (change)="onQueryTypeSelect($any($event.target).value)">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
    <div class="col-sm-4">
      <input class="form-control form-control-sm"
        type="text" formControlName="field" (keyup)="filter()" id="selectedField" autocomplete="off">
      <div *ngIf="filteredTerms.length > 0">
        <ul class="list-group" (clickOutside)="close()">
          <li class="list-group-item list-group-item-action list-group-item-secondary py-0 text-start" *ngFor="let term of filteredTerms"
            (click)="select(term)" (keyup)="select(term)" tabindex="0"><small>{{term}}</small></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <input class="form-control form-control-sm"
        type="text" formControlName="searchTerm" id="searchTerm">
    </div>
  </div>
</div>